
ul {
    margin: 1;
    padding: 2;
    list-style-type: none;
}

li.high{
    border: 0.25em solid #ff0000;
    font-size: 14;
    color: #ff0000;
}

li.low{
    border: 0.25em solid #0e910e;
    font-size: 14;
    color: #053f05;
}

li {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }