
ul {
    margin: 1;
    padding: 2;
    list-style-type: none;
}

li.high{
    border: 0.25em solid #ff0000;
    font-size: 14;
    background-color: aquamarine;
}

li.low{
    border: 0.25em solid #00ff00;
    font-size: 14;
    background-color: aquamarine;
}

li {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }